<div class="text-center">
  <%= link_to image_tag("movies.jpg"), movies_path %>
</div>



















<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <hr class="small">
                <p class="text-muted">Copyright &copy; K Mayfield 2015</p>
            </div>
        </div>
    </div>
</footer>

<script>$('body').addClass('home-page');</script>
